RUNNER_SCOPE=org
ORG_NAME=your_github_org
RUNNER_NAME_PREFIX=registry-runner
RANDOM_RUNNER_SUFFIX=true
RUNNER_WORKDIR=/tmp/runner/work
RUNNER_GROUP=default
LABELS=registry

# Auth
ACCESS_TOKEN=github_pat_your_token_here
