# homepage uses GUID (not PGID)
PUID=1000
GUID=1000
HOMEPAGE_ALLOWED_HOSTS=www.example.com,example.com

HOMEPAGE_VAR_JELLYFIN_API_KEY=your_jellyfin_api_key
HOMEPAGE_VAR_JELLYSEERR_API_KEY=your_jellyseerr_api_key
