# For Traefik label substitution
DOMAIN=example.com

# Registry container vars (container-native names)
REGISTRY_HTTP_ADDR=0.0.0.0:5000
REGISTRY_HTTP_HOST=https://registry.example.com
REGISTRY_LOG_LEVEL=info
REGISTRY_AUTH=token
REGISTRY_AUTH_TOKEN_REALM=https://registry.example.com/auth
REGISTRY_AUTH_TOKEN_SERVICE=Docker Hub
REGISTRY_AUTH_TOKEN_ISSUER=Docker Hub Auth
REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY=/var/lib/registry
REGISTRY_AUTH_TOKEN_ROOTCERTBUNDLE=/certs/server.pem
