# Override base PUID=1000 — homepage requires root
PUID=0
GUID=0
HOMEPAGE_ALLOWED_HOSTS=admin.example.com

HOMEPAGE_VAR_JELLYFIN_API_KEY=your_jellyfin_api_key
HOMEPAGE_VAR_JELLYSEERR_API_KEY=your_jellyseerr_api_key
HOMEPAGE_VAR_RADARR_API_KEY=your_radarr_api_key
HOMEPAGE_VAR_SONARR_API_KEY=your_sonarr_api_key
HOMEPAGE_VAR_BAZARR_API_KEY=your_bazarr_api_key
HOMEPAGE_VAR_PORTAINER_API_KEY=
HOMEPAGE_VAR_PROWLARR_API_KEY=your_prowlarr_api_key
HOMEPAGE_VAR_QBITTORRENT_USER=admin
HOMEPAGE_VAR_QBITTORRENT_PASSWORD=changeme
HOMEPAGE_VAR_GRAFANA_USER=admin
HOMEPAGE_VAR_GRAFANA_PASSWORD=changeme
