# For Traefik label substitution
DOMAIN=example.com

# super-productivity WebDAV sync
WEBDAV_BASE_URL=http://webdav:2345
WEBDAV_USERNAME=admin
WEBDAV_SYNC_FOLDER_PATH=/
SYNC_INTERVAL=15
IS_COMPRESSION_ENABLED=true
IS_ENCRYPTION_ENABLED=false
